<div ng-controller="BrandController" class="ng-scope" ui-view="">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">Marka Yönetimi</h1>
    </div>


    <div class="row" style="padding-left:40px">
        <h3 style="margin-left:15px">Yeni Marka Ekle</h3>
        <hr>
        <div class="col-md-12" style="padding-right: 40px">
            <form ng-submit="addNewBrand()">
                <div class="col-md-3">
                    <label>Marka Adı</label>
                    <input type="text" required ng-model="newBrand.name" placeholder="Marka Adı" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Marka Açıklaması</label>
                    <textarea class="form-control" ng-model="newBrand.description"></textarea>
                </div>
                <div class="col-md-3">
                    <label>Marka Görseli</label>
                    <input type="file">
                </div>
                <div class="col-md-3"><input style="margin-top:20px" type="submit" class="btn btn-block btn-primary"
                                             value="Marka Ekle"></div>

            </form>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-12">
            <div ng-if="errorMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-warning">
                {{errorMessage}}
            </div>
            <div ng-if="successMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-success">
                {{successMessage}}
            </div>
        </div>
    </div>


    <div class="wrapper-md ng-scope">
        <div class="panel panel-default">
            <div>
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Marka Adı</th>
                    <th>Marka Açıklaması</th>
                    <th>Sponsorluk Sayısı</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="brand in brands">
                        <td><img style="width:30px;height:30px" ng-src="{{brand.img}}"></td>
                        <td><input type="text" class="form-control" ng-model="brand.name" ng-if="brand.editing"><span
                                ng-if="!brand.editing">{{brand.name}}</span></td>
                        <td><textarea class="form-control" ng-if="brand.editing"
                                      ng-model="brand.description"></textarea><span ng-if="!brand.editing">{{brand.description}}</span>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <button ng-hide="brand.editing" ng-click="brand.editing = true;"
                                    class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Düzenle
                            </button>
                            <button class="btn btn-xs btn-success" ng-click="brand.editing = false; updateBrand(brand)"
                                    ng-if="brand.editing"><i class="fa fa-save"></i> Kaydet
                            </button>
                        </td>
                        <td>
                            <button ng-click="remove(brand)" class="btn btn-xs btn-danger"><i class="fa fa-ban"></i> Sil
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>