<div ng-controller="EventController" class="ng-scope" ui-view="">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">Etkinlik Yönetimi</h1>
    </div>


    <div class="row" style="padding-left: 10px;padding-right: 10px">

        <div class="col-md-12">
            <h3 style="margin-left:15px">Yeni Etkinlik Ekle</h3>

            <form ng-submit="addNewEvent()">
                <div class="col-md-3">
                    <label>Etkinlik Adı</label>
                    <input type="text" required ng-model="newEvent.name" placeholder="Etkinlik Adı"
                           class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Etkinlik Tipi</label>
                    <select placeholder="Etkinlik Tipi" class="form-control" ng-model="newEvent.type">
                        <option ng-repeat="type in eventTypes" value="{{type._id}}">{{type.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Etkinlik Sponsor</label>
                    <select placeholder="Etkinlik Sponsoru" class="form-control" ng-model="newEvent.sponsor">
                        <option ng-repeat="brand in brands" value="{{brand._id}}">{{brand.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Etkinlik Mekanı</label>
                    <input type="text" required ng-model="newEvent.place" placeholder="Etkinlik Mekanı"
                           class="form-control">
                </div>

                <div style="margin-top:20px" class="col-md-3">
                    <label>Etkinlik Açıklaması</label>
                    <textarea class="form-control" ng-model="newEvent.description"
                              placeholder="Etkinlik Açıklaması"></textarea>
                </div>
                <div style="margin-top:20px" class="col-md-3">
                    <label>Etkinlik Tarihi</label>
                    <input type="date" class="form-control" ng-model="newEvent.event_date"
                           placeholder="Etkinlik Tarihi">
                </div>
                <div style="margin-top:20px" class="col-md-3">
                    <label>Rezervasyon Bitiş Tarihi</label>
                    <input type="date" class="form-control" ng-model="newEvent.reservation_date"
                           placeholder="Rezervasyon Bitiş">
                </div>
                <div style="margin-top:20px" class="col-md-3">
                    <label>Bilet Satış Başlangıcı</label>
                    <input type="date" class="form-control" ng-model="newEvent.ticket_sell_start_date"
                           placeholder="Bilet Satış">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3">
                    <label>Satın alım için gerekli km</label>
                    <input type="number" class="form-control" ng-model="newEvent.nowBuy"
                           placeholder="/km">
                </div>
                <div class="col-md-3">
                    <label>Rezervasyon durumunda gerekli km</label>
                    <input type="number" class="form-control" ng-model="newEvent.reservation_distance"
                           placeholder="/km">
                </div>
                <div class="col-md-3">
                    <label>Rezervasyona ayrılacak bilet sayısı</label>
                    <input type="number" class="form-control" ng-model="newEvent.reservation_count">
                </div>
                <div class="col-md-3">
                    <label>Toplam bilet sayısı</label>
                    <input type="number" class="form-control" ng-model="newEvent.ticket_count">
                </div>

                <div style="margin-top:20px" class="col-md-12"><input type="submit" class="btn btn-block btn-primary"
                                                                      value="Etkinlik Ekle">
                </div>

            </form>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-12">
            <div ng-if="errorMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-warning">
                {{errorMessage}}
            </div>
            <div ng-if="successMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-success">
                {{successMessage}}
            </div>
        </div>
    </div>


    <div class="wrapper-md ng-scope">
        <div class="panel panel-default">
            <div>
                <table class="table" style="table-layout: fixed">
                    <thead>
                    <th>#</th>
                    <th>Etkinlik Adı</th>
                    <th>Etkinlik Tipi</th>
                    <th>Sponsor</th>
                    <th>Mekan</th>
                    <th>Etkinlik Tarihi</th>
                    <th>Açıklama</th>
                    <th>Rezervasyon Bitiş Tarihi</th>
                    <th>Bilet Satış Başlangıç</th>
                    <th>Bilet Sayısı</th>
                    <th>Rez. Bil. Sayısı</th>
                    <th>Featured</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in events">
                        <td><img style="width:30px;height:30px" ng-src="{{event.img}}"></td>
                        <td><input type="text" class="form-control" ng-model="user.name" ng-if="event.editing"><span
                                ng-if="!event.editing">{{event.name}}</span></td>

                        <td><select class="form-control" ng-if="event.editing" ng-model="event.type">
                            <option ng-repeat="type in eventTypes" value="{{type._id}}">{{type.name}}</option>
                        </select><span
                                ng-if="!event.editing">{{event.type.name}}</span></td>
                        <td><select class="form-control" ng-if="event.editing" ng-model="event.sponsor">
                            <option ng-repeat="brand in brands" value="{{brand._id}}">{{brand.name}}</option>
                        </select><span
                                ng-if="!event.editing">{{event.sponsor.name}}</span></td>
                        <td><input type="text" class="form-control" ng-model="event.place" ng-if="event.editing"><span
                                ng-if="!event.editing">{{event.place}}</span></td>
                        <td><input type="date" class="form-control" ng-model="event.event_date"
                                   ng-if="event.editing"><span
                                ng-if="!event.editing" am-time-ago="event.event_date"></span></td>
                        <td><textarea class="form-control" ng-model="event.description"
                                      ng-if="event.editing"></textarea>
                            <span ng-if="!event.editing">{{event.description | limitTo: 15}}..</span>
                        </td>
                        <td><input type="date" class="form-control" ng-model="event.reservation_date"
                                   ng-if="event.editing"><span
                                ng-if="!event.editing" am-time-ago="event.reservation_date"></span></td>
                        <td><input type="date" class="form-control" ng-model="event.sell_start_date"
                                   ng-if="event.editing"><span
                                ng-if="!event.editing" am-time-ago="event.ticket_sell_start_date"></span></td>
                        <td>
                            <input ng-if="event.editing" type="number" class="form-control"
                                   ng-model="event.ticket_count">
                            <span ng-if="!event.editing">{{event.ticket_count}}</span>
                        </td>
                        <td>
                            <input ng-if="event.editing" type="number" class="form-control"
                                   ng-model="event.reservation_count">
                            <span ng-if="!event.editing">{{event.reservation_count}}</span>
                        </td>
                        <td>
                            <input type="checkbox" ng-if="event.editing" ng-model="event.featuredz">
                        </td>
                        <td>
                            <button ng-hide="event.editing" ng-click="event.editing = true;"
                                    class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Düzenle
                            </button>
                            <button class="btn btn-xs btn-success" ng-click="updateEvent(event)"
                                    ng-if="event.editing"><i class="fa fa-save"></i> Kaydet
                            </button>
                        </td>
                        <td>
                            <button ng-click="remove(event)" class="btn btn-xs btn-danger"><i class="fa fa-ban"></i> Sil
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>