<div ng-controller="EventTypeController" class="ng-scope" ui-view="">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">Etkinlik Tipi Yönetimi</h1>
    </div>


    <div class="row" style="padding-left:40px">
        <h3 style="margin-left:15px">Yeni Etkinlik Tipi Ekle</h3>
        <hr>
        <div class="col-md-12" style="padding-right: 40px">
            <form ng-submit="addNewEventType()">
                <div class="col-md-4">
                    <label>Etkinlik Tipi</label>
                    <input type="text" required ng-model="newEventType.name" placeholder="Etkinlik tipi adı"
                           class="form-control">
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class="col-md-4"><input style="margin-top:20px" type="submit" class="btn btn-block btn-primary"
                                             value="Etkinlik Tipi Ekle"></div>

            </form>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-12">
            <div ng-if="errorMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-warning">
                {{errorMessage}}
            </div>
            <div ng-if="successMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-success">
                {{successMessage}}
            </div>
        </div>
    </div>


    <div class="wrapper-md ng-scope">
        <div class="panel panel-default">
            <div>
                <table class="table">
                    <thead>
                    <th>Etkinlik Tipi Adı</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="type in eventTypes">

                        <td><input type="text" class="form-control" ng-model="type.name" ng-if="type.editing"><span
                                ng-if="!type.editing">{{type.name}}</span></td>
                        <td>
                            <button ng-hide="type.editing" ng-click="type.editing = true;"
                                    class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Düzenle
                            </button>
                            <button class="btn btn-xs btn-success"
                                    ng-click="type.editing = false; updateEventType(type)"
                                    ng-if="type.editing"><i class="fa fa-save"></i> Kaydet
                            </button>
                        </td>
                        <td>
                            <button ng-click="remove(type)" class="btn btn-xs btn-danger"><i class="fa fa-ban"></i>
                                Sil
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>