<div ng-controller="ReservationController" class="ng-scope" ui-view="">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">Rezervasyon Yönetimi</h1>
    </div>


    <div class="row" style="padding-left:40px">
        <h3 style="margin-left:15px">Yeni Rezervasyon Ekle</h3>
        <hr>
        <div class="col-md-12" style="padding-right: 40px">
            <form ng-submit="addNewReservation()">
                <div class="col-md-4">
                    <label>Etkinlik</label>
                    <select class="form-control" ng-model="newReservation.event">
                        <option ng-repeat="event in events" value="{{event._id}}">{{event.name}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Kullanıcı</label>
                    <select class="form-control" ng-model="newReservation.user">
                        <option ng-repeat="user in users" value="{{user._id}}">{{user.name}}</option>
                    </select>
                </div>

                <div class="col-md-4"><input style="margin-top:20px" type="submit" class="btn btn-block btn-primary"
                                             value="Rezervasyon Oluştur"></div>

            </form>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-12">
            <div ng-if="errorMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-warning">
                {{errorMessage}}
            </div>
            <div ng-if="successMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-success">
                {{successMessage}}
            </div>
        </div>
    </div>


    <div class="wrapper-md ng-scope">
        <div class="panel panel-default">
            <div>
                <table class="table">
                    <thead>

                    <th>Kullanıcı Adı</th>
                    <th>Etkinlik Adı</th>
                    <th>Koşulan km</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="reservation in reservations">

                        <td>
                            <select ng-if="reservation.editing" class="form-control" ng-model="reservation.event">
                                <option ng-repeat="event in events" value="{{event._id}}">{{event.name}}</option>
                            </select>
                            <span ng-if="!reservation.editing">{{reservation.event.name}}</span>
                        </td>
                        <td>
                            <select ng-if="reservation.editing" class="form-control" ng-model="reservation.user">
                                <option ng-repeat="user in users" value="{{user._id}}">{{user.name}}</option>
                            </select>
                            <span ng-if="!reservation.editing">{{reservation.user.name}}</span>
                        </td>
                        <td>0 km</td>
                        <td>
                            <button ng-hide="reservation.editing" ng-click="reservation.editing = true;"
                                    class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Düzenle
                            </button>
                            <button class="btn btn-xs btn-success"
                                    ng-click="reservation.editing = false; updateReservation(reservation)"
                                    ng-if="reservation.editing"><i class="fa fa-save"></i> Kaydet
                            </button>
                        </td>
                        <td>
                            <button ng-click="remove(reservation)" class="btn btn-xs btn-danger"><i
                                    class="fa fa-ban"></i> Sil
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>