<div ng-controller="UserController" class="ng-scope" ui-view="">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">Kullanıcı Yönetimi</h1>
    </div>


    <div class="row" style="padding-left:40px">
        <h3 style="margin-left:15px">Yeni Kullanıcı Ekle</h3>
        <hr>
        <form ng-submit="addNewUser()">
            <div class="col-md-2">
                <input type="text" required ng-model="newUser.name" placeholder="Ad Soyad" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="text" required ng-model="newUser.username" placeholder="Kullanıcı Adı"
                       class="form-control">
            </div>
            <div class="col-md-2">
                <input type="email" required ng-model="newUser.email" placeholder="E-posta Adresi" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="password" required ng-model="newUser.password" placeholder="Parola" class="form-control">
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="newUser.auth_level">
                    <option value="0">Yasaklı</option>
                    <option value="1">Kullanıcı</option>
                    <option value="2">Yönetici</option>
                </select>
            </div>
            <div class="col-md-2"><input type="submit" class="btn btn-primary" value="Kullanıcı Ekle"></div>

        </form>
        <div class="clearfix">
        </div>
        <div class="col-md-12">
            <div ng-if="errorMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-warning">
                {{errorMessage}}
            </div>
            <div ng-if="successMessage" style="width:500px;margin-left:25%;margin-top:10px" class="alert alert-success">
                {{successMessage}}
            </div>
        </div>
    </div>


    <div class="wrapper-md ng-scope">
        <div class="panel panel-default">
            <div>
                <table class="table" st-table="userDisplayed" st-safe-src="users">
                    <thead>
                    <th>#</th>
                    <th>Ad</th>
                    <th>E-posta</th>
                    <th>Twitter</th>
                    <th>Facebook</th>
                    <th>KM Kumbarası</th>
                    <th>Yetki</th>
                    <th>Kayıt Tarihi</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                    </thead>
                    <tbody ng-hide="isLoading">
                    <tr>
                        <th colspan="10"><input st-search="" class="form-control" placeholder="arama yap ..." type="text"/></th>
                    </tr>
                    <tr ng-repeat="user in userDisplayed">
                        <td><img style="width:30px;height:30px" ng-src="{{user.prphoto}}"></td>
                        <td><input type="text" class="form-control" ng-model="user.name" ng-if="user.editing"><span
                                ng-if="!user.editing">{{user.name}}</span></td>

                        <td><input type="email" class="form-control" ng-model="user.email" ng-if="user.editing"><span
                                ng-if="!user.editing">{{user.email}}</span></td>
                        <td><input type="text" class="form-control" ng-model="user.twitter" ng-if="user.editing"><span
                                ng-if="!user.editing"><a ng-href="http://twitter.com/{{user.twitter}}">Twitter
                            Profili</a></span></td>
                        <td><input type="text" class="form-control" ng-model="user.facebook" ng-if="user.editing"><span
                                ng-if="!user.editing"><a ng-href="http://facebook.com/{{user.facebook}}">Facebook
                            Profili</a></span></td>
                        <td><input type="number" class="form-control" ng-model="user.balance" ng-if="user.editing"><span
                                ng-if="!user.editing">{{user.balance}} Km</span></td>
                        <td><select class="form-control" ng-if="user.editing" ng-model="user.auth_level">
                            <option value="0">Yasaklı</option>
                            <option value="1">Kullanıcı</option>
                            <option value="2">Yönetici</option>
                        </select><span ng-if="!user.editing"><i ng-if="user.auth_level == 0">Yasaklı</i><i
                                ng-if="user.auth_level == 1">Kullanıcı</i><i
                                ng-if="user.auth_level == 2">Yönetici</i></span></td>
                        <td>{{user.registered_at}}</td>
                        <td>
                            <button ng-hide="user.editing" ng-click="user.editing = true;"
                                    class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Düzenle
                            </button>
                            <button class="btn btn-xs btn-success" ng-click="user.editing = false; updateUser(user)"
                                    ng-if="user.editing"><i class="fa fa-save"></i> Kaydet
                            </button>
                        </td>
                        <td>
                            <button ng-click="remove(user)" class="btn btn-xs btn-danger"><i class="fa fa-ban"></i> Sil
                            </button>
                        </td>
                    </tr>
                    </tbody>

                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="5" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>