<!-- list -->
<ul class="nav">

  <li ui-sref-active="active">
    <a ui-sref="app.users">
      <i class="glyphicon glyphicon-user icon text-info-lter"></i>
      <span class="font-bold">Kullanıcılar</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.events">
      <i class="glyphicon glyphicon-calendar  icon text-info-lter"></i>
      <span class="font-bold">Etkinlikler</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.brands">
      <i class="glyphicon glyphicon-tags  icon text-info-lter"></i>
      <span class="font-bold">Markalar</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.event_types">
      <i class="glyphicon glyphicon-bookmark  icon text-info-lter"></i>
      <span class="font-bold">Etkinlik Tipleri</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.reservations">
      <i class="glyphicon glyphicon-barcode  icon text-info-lter"></i>
      <span class="font-bold">Rezervasyonlar</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.tickets">
      <i class="glyphicon glyphicon-qrcode icon text-info-lter"></i>
      <span class="font-bold">Biletler</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.push">
      <i class="glyphicon glyphicon-push icon text-info-lter"></i>
      <span class="font-bold">Push Notification (Pasif)</span>
    </a>
  </li>
</ul>
<!-- / list -->
