<div ng-controller="DashboardController" class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">RunArt Admin</h1>
                    <small class="text-muted">Yönetim paneline hoşgeldiniz</small>
                </div>
                <div class="col-sm-6 text-right hidden-xs">
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
                <div class="col-md-6">
                    <div class="row row-sm text-center">
                        <div class="col-xs-6">
                            <div class="panel padder-v item">
                                <div class="h1 text-info font-thin h1">{{usersCount}}</div>
                                <span class="text-muted text-xs">Kullanıcı</span>

                                <div class="top text-right w-full">
                                    <i class="fa fa-caret-down text-warning m-r-sm"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <a href class="block panel padder-v bg-primary item">
                                <span class="text-white font-thin h1 block">{{eventsCount}}</span>
                                <span class="text-muted text-xs">Etkinlik</span>
                <span class="bottom text-right w-full">

                </span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href class="block panel padder-v bg-info item">
                                <span class="text-white font-thin h1 block">{{brandsCount}}</span>
                                <span class="text-muted text-xs">Marka</span>
                <span class="top">
                  <i class="fa fa-caret-up text-warning m-l-sm m-r-sm"></i>
                </span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel padder-v item">
                                <div class="font-thin h1">{{totalKM}}</div>
                                <span class="text-muted text-xs">km</span>

                                <div class="bottom">
                                    <i class="fa fa-caret-up text-warning m-l-sm m-r-sm"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <a href class="block panel padder-v item">
                                <span class=" font-thin h1 block">{{ticketsCount}}</span>
                                <span class="text-muted text-xs">Bilet</span>
                <span class="top">
                  <i class="fa fa-caret-up text-warning m-l-sm m-r-sm"></i>
                </span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel padder-v bg-success item">
                                <div class="font-thin h1">{{runsCount}}</div>
                                <span class="text-muted text-xs">Koşu</span>

                                <div class="bottom">
                                    <i class="fa fa-caret-up text-warning m-l-sm m-r-sm"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel no-border">
                        <div class="panel-heading wrapper b-b b-light">

                            <h4 class="font-thin m-t-none m-b-none text-muted">Yöneticiler</h4>
                        </div>
                        <ul class="list-group list-group-lg m-b-none">
                            <li ng-repeat="admin in admins | limitTo:3" class="list-group-item">
                                <a href class="thumb-sm m-r">
                                    <img ng-src="{{admin.prphoto}}"
                                         class="r r-2x">
                                </a>
                                <span class="pull-right label bg-danger inline m-t-sm">Yönetici</span>
                                <a href>{{admin.name}}</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- / stats -->

            <div class="rows">
                <div class="col-md-4">
                    <div class="panel no-border">
                        <div class="panel-heading wrapper b-b b-light">

                            <h4 class="font-thin m-t-none m-b-none text-muted">Son 3 Etkinlik</h4>
                        </div>
                        <ul class="list-group list-group-lg m-b-none">
                            <li ng-repeat="event in last3Events" class="list-group-item">
                                <span class="pull-left">
                                    {{event.name}}
                                </span>
                                <span class="pull-right">
                                    {{event.event_date}} - {{event.place}}
                                </span>

                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <div class="panel-footer">
                            <a ui-sref="app.events">
                                <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Etkinlik Ekle
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel no-border">
                        <div class="panel-heading wrapper b-b b-light">

                            <h4 class="font-thin m-t-none m-b-none text-muted">Son Kaydolan 3 Kullanıcı</h4>
                        </div>
                        <ul class="list-group list-group-lg m-b-none">
                            <li ng-repeat="user in last3Users" class="list-group-item">
                                <span class="pull-left">
                                    <a href class="thumb-sm m-r">
                                        <img ng-src="{{user.prphoto}}"
                                             class="r r-2x">
                                    </a>
                                    {{user.name}}
                                </span>
                                <span class="pull-right" style="padding-top:8px">
                                    <i>{{user.registered_at}}</i>
                                </span>

                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <div class="panel-footer">
                            <a ui-sref="app.users">
                                <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Kullanıcı
                                    Ekle
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel no-border">
                        <div class="panel-heading wrapper b-b b-light">

                            <h4 class="font-thin m-t-none m-b-none text-muted">Son Satılan 3 Bilet</h4>
                        </div>
                        <ul class="list-group list-group-lg m-b-none">
                            <li ng-repeat="ticket in last3Tickets" class="list-group-item">
                                <span class="pull-left">
                                    {{ticket.user.name}}
                                </span>
                                <span class="pull-right">
                                    {{ticket.event.name}}
                                </span>

                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <div class="panel-footer">
                            <a ui-sref="app.tickets">
                                <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Bilet Oluştur
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / main -->

    <!-- / streamline -->
</div>
<div data-ng-include=" 'tpl/blocks/aside.right.html' ">
    {% include '../tpl/blocks/aside.right.html' %}
</div>
</div>
<!-- / right col -->
</div>
