<div style="margin-top:100px" class="container w-xxl w-auto-xs" ng-controller="SigninFormController"
     ng-init="app.settings.container = false;">
    <center><img style="height:60px" src="../img/runart.png"></center>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Yönetim Paneli Girişi</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="E-posta" class="form-control no-border" ng-model="user.email"
                           required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Parola" class="form-control no-border" ng-model="user.password"
                           required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()"
                    ng-disabled='form.$invalid'>Giriş
            </button>
            <div class="line line-dashed"></div>
        </form>
    </div>

</div>